@import url(./font.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-green: #00ff75;
  --bg-red: #ff2e00;

  --bg-black: #000;
  --bg-white: #ffff;

  --bg-grey: rgba(80, 79, 79, 0.92);

  --rasa-font: rasa;
}

body {
  font-family: var(--rasa-font);
}

/* For mobile view port  */

#map {
  width: 100%;
  border: 1px solid;
  height: 100vh;
  z-index: 1;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.content::-webkit-scrollbar {
  width: 0;
}

.content {
  width: 90%;
  height: 60vh;
  margin: 1rem auto;
  background: #44414110;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  text-align: center;
  padding: 1rem 0;
}

.form-container {
  background-color: var(--bg-grey);
  width: 90%;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0.1rem;
}

.form {
  padding: 0.9rem 0;
}

.form-container h3 {
  color: var(--bg-white);
  font-size: 14px;
  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}

#Activity,
.label--size {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#Activity {
  width: 5rem;
  padding: 0.4rem 0.1rem;
}

#Activity {
  margin-left: 1.6rem;
}

.label--size {
  width: 5rem;
  padding: 0.4rem 0.4rem;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.workout--content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.workout--content::-webkit-scrollbar {
  width: 0;
}

.workout {
  border: 1px solid;
  margin: 0.3rem 1rem;
}

.workout {
  padding: 0.5rem 1rem;
  background: rgba(93, 90, 83, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.33);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.workout--running {
  border-left: 6px solid var(--bg-green);
}

.workout--cycling {
  border-left: 6px solid var(--bg-red);
}

span {
  font-weight: 400;
  font-size: 14px;
}

.workout--details {
  padding: 0.8rem 0.5rem;
}

.workout h3 {
  font-weight: 400;
  font-size: 14px;
}

.popup--running {
  border-left: 5px solid var(--bg-green);
  border-radius: 15px 0 0 15px;
}

.popup--cycling {
  border-left: 5px solid var(--bg-red);
  border-radius: 15px 0 0 15px;
}

.Copyright h4 {
  text-align: center;
  margin-top: 13rem;
}

.btnsubmit,
.hidden {
  display: none;
}

.form--hidden {
  display: none;
}

/* For Big screen   */

@media (min-width: 40em) {
  .content {
    max-width: 32%;
    height: 93vh;
    margin: 1.4rem 1.5rem;
  }
}

/* Leaflat leaflet-left */
.leaflet-left {
  display: none;
}
